<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roushan.satta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/newicc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newicc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity android:name=".Livechat" />
        <activity android:name=".Sattaresult" />
        <activity android:name=".Game" />
        <activity android:name=".Matkachart" />
        <activity android:name=".Privacy" />
        <activity android:name=".Chat.DashboardActivity" />
        <activity android:name=".Chat.Loginchat" />
        <activity android:name=".Test" />
        <activity android:name=".Redeem" />
        <activity android:name=".Contact" />
        <activity android:name=".Tablerow"/>
    </application>

</manifest>